<section class="bg-yellow-600 vh-90 ">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 d-flex mb-4 flex-column justify-content-center align-items-center">
                <h3 class="title_header text-light mb-4">First I Wanted to be a veterinarian</h3>
                <p class="text-light subtitle__header mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque beatae
                    esse voluptas quis tenetur
                    obcaecati dolores eos.</p>

                <div class="gap-20 w-100 d-flex justify-content-start align-items-center text-light">
                    <button class="btn btn--water outline-0 ">Contact Us</button>
                    <button class="btn btn-outline-light outline-0">Our Service</button>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center ">
                <img src="assets/images/dog0.png" class="img-custom" alt="img dog">
            </div>
        </div>
    </div>
</section>
