<section class="footer h-100 p-3">
    <div class="container h-100">
        <div class="row text-light h-100 d-flex justify-content-center align-items-center">
            <div class="col-6 col-lg-3 col-md-3 col-sm-6 d-flex  flex-column justify-content-center align-items-sm-center align-items-md-center align-items-lg-start  align-items-center ">
                <ul class="list-unstyled">
                    <li class="h3">About</li>
                    <li>History</li>
                    <li>Our Team</li>
                    <li>Brand Guidelines</li>
                    <li>Terms & condition</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 col-md-3 col-sm-6 d-flex  flex-column justify-content-center align-items-sm-center align-items-center">
                
                <ul class="list-unstyled" >
                    <li class="h3">Services</li>
                    <li>How to Order</li>
                    <li>Our Product</li>
                    <li>Order Status</li>
                    <li>Promo</li>
                    <li>Payment Method</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6  d-flex flex-column align-items-center  align-items-md-end align-items-lg-end justify-content-around ">
                <h3 class="text-capitalize" >title here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, officiis!.</p>

                <div class="d-flex w-100 bg-yellow block-yellow mb-3 position-relative">
                </div>

                <div class="icon-social">
                    <i class="icon icon--instagram"></i>
                    <i class="icon icon--facebook"></i>
                    <i class="icon icon--twitter"></i>
                    <i class="icon icon--whatsApp"></i>
                </div>
            </div>
        </div>
    </div>
</section>
